@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Inconsolata", monospace;
  min-height: 100vh;
  background-color: #fbeaff;
  color: #4b4453;
}

button {
  cursor: pointer;
}
